/* THEMES */
@define-color black-r	#111111;
@define-color black-l	#4c4c4c;
@define-color white-r	#ffffff;

@define-color green		#03d03d;
@define-color red		#ce2031;

@define-color arch		#1793d1;
@define-color debian	#a90232;
@define-color fedora	#4e9bd5;

@define-color bitcoin	#f7931a;

/* RESET */
* {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;

    font: 600 13px JetBrains Mono;
}

#waybar {
	background: transparent;
}

#custom-os,
#workspaces,
#mode,
#custom-bitcoin,
#clock,
#cava,
#pulseaudio,
#network,
#battery,
#custom-power {
	margin: 7px 5px;
	border-radius: 20px;
	padding: 3px 12px;
}

/* MODULES-LEFT */
#custom-os {
	padding-right: 0;
	font-size: 22px;
	color: @arch;
}

#workspaces {
    background: @black-r;
}

#workspaces button {
	padding: 0 7px;
    background: transparent;
	color: @black-l;
}

#workspaces button:hover {
    box-shadow: inherit;
    color: @white-r;
}

#workspaces button.focused {
    color: @white-r;
}

#mode {
	padding: 0;
	font-size: 16px;
	color: @white-r;
}

#custom-bitcoin {
	padding: 0;
	font-size: 24px;
	color: @bitcoin;
}

/* MODULES-CENTER */
#clock {
    color: @white-r;
}

/* MODULES-RIGHT */
#cava {

}

#pulseaudio {
    background: @black-r;
    color: @white-r;
}

#network {
    background: @black-r;
    color: @white-r;
}

#battery {
    background: @green;
    color: @black-r;
}

#battery.critical {
	background: @red;
	color: @white-r;
}

#battery.charging {
	background: @black-r;
	color: @white-r;
}

#custom-power {
	background: @black-r;
	color: @white-r;
}
